	<div class="container">
  		<h3>Nachrichten</h3>
  		<textarea rows="10" class="form-control" readonly>{{messageHistory}}</textarea>
	</div>
	

 

        <div class="container">
                <form>
                <div class="form-group">
                        <p><p><h3>Eingabefeld</h3>
			<textarea type="text" rows="1" placeholder="Dein Nickname" class="form-control" id="nickname" required [(ngModel)]="nickname" name="nick"> </textarea>
                        <p><p><textarea type="text" rows="2" placeholder="Deine Nachricht" (keyup.enter)="addMessage(chatMessage.message)" class="form-control" id="message" required [(ngModel)]="chatMessage.message" name="message"> </textarea>
                </div>
                <button (click)="addMessage(chatMessage.message)" [disabled]="!nickname" [disabled]="!chatMessage.message" class="btn btn-default">Abschicken</button>
                </form>

	</div>


