.divTextArea {
	padding: 2px;
	width: 100%;
	height: 350px;
	border: solid 1px rgb(185, 185, 185);
	overflow: scroll;
	overflow-y: scroll;
	overflow-x: hidden;
	background-color: rgb(238, 238, 238);
}

.divTextAreaInner {
	margin-left: 10px;
}
