<link href="https://fonts.googleapis.com/css?family=Rubik" rel="stylesheet">

<app-header></app-header>

<div>
    <div class="col-lg-2"></div>

    <div class="col-lg-8">
        <h2>
            Chat
        </h2>
        <app-chat-historie [username]="usernameHistory" [history]="messageHistory"></app-chat-historie>
        <div id="UsernameEingabe">
            <app-username-eingabe id="UsernameEingabe" (submitUsername)="onSubmitUsername($event)" (submitMessage)="onSubmitMessage($event)"></app-username-eingabe>
        </div>
    </div>
    <!--
    <div class="col-lg-8">
        <app-chat-nickname></app-chat-nickname>
    </div>
    <div class="col-lg-2"></div>
-->
</div>
    
<app-footer></app-footer>