header {
    overflow: hidden;
    background-color: #FFF;
    border-bottom: #bfbfbf solid 1px;
    
}

.logo {
    width: 100%;
    float: center;
    position: relative;
    /*left: 25%;*/
}

h1 {
    color: #FFF;
    font-size: 24px; /*24px oder 5vw*/
    text-align: center;
}